<div class="body">
	<div class="title">
			<div data-scroll class="title-container">
					<h1 class=>lonelypeople</h1>
			</div>
	</div>

	<div data-scroll class="about">
		<h2>Who I am?</h2>
		<p>I'm Joy, based in Japan. <br>I love to draw. I especially like to draw people. <br> And that's it. </p>
		<a href="/about/about">Detail</a>
	</div>

	<div data-scroll class="imgs">
		<div class="imgDetail">	
			<img class="draws" src="/img/1.png" alt="">
			<br>
			<a href="/detail/detail1">Detail</a>
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/2.png" alt="">
			<br>
			<a href="/detail/detail2">Detail</a>
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/3.png" alt="">
			<br>
			<a href="/detail/detail3">Detail</a>
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/4.png" alt="">
			<br>
			<a href="/detail/detail4">Detail</a>
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/5.png" alt="">
			<br>
			<a href="/detail/detail5">Detail</a>
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/6.png" alt="">
			<br>
			<a href="/detail/detail6">Detail</a>
		</div>
	</div>
	<div class="btns">
		<button onclick="changeImg()">Left</button>
		<button onclick="changeImg()">Right</button>
	</div>
</div>