<div class="body">
	<div class="title">
			<div data-scroll class="title-container">
					<h1 class="title">lonelypeople</h1>
			</div>
	</div>

	<div data-scroll class="about">
		<h2>Who I am?</h2>
		<p>I'm Joy, based in Japan. <br>I love to draw. I especially like to draw people. <br> And that's it. </p>
		<a href="/about/about">Detail</a>
	</div>

	<div data-scroll class="imgs">
		<div class="imgDetail">	
			<img class="draws" src="/img/1.png" alt="">
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/2.png" alt="">
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/3.png" alt="">
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/4.png" alt="">
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/5.png" alt="">
		</div>
		<div class="imgDetail hide">	
			<img class="draws" src="/img/6.png" alt="">
		</div>
	</div>
		<a class="more" href="/private/all">More→</a>
</div>