<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
</head>
<body>
  <div class="menu">
    <a href="/">
      <img src="/img/logo.png" alt="">
    </a>
    {{#if user}}
     <ul>
        <li><a href="/private/all">Home</a></li>
        <li><a href="/private/contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    {{else}}
      <ul>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    {{/if}}
  </div>

  {{{body}}}

  <footer>&copy;lonelypeople</footer>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>