	<div class="alldraws">
		<h1>all draws</h1>
		<div data-scroll class="imgs">
			<div class="imgDetail">	
				<img class="draws" src="/img/1.png" alt="">
				<a href="/private/uno">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/2.png" alt="">
				<a href="/private/dos">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/3.png" alt="">
				<a href="/private/tres">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/4.png" alt="">
				<a href="/private/cuatro">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/5.png" alt="">
				<a href="/private/cinco">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/6.png" alt="">
				<a href="/private/seis">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/7.png" alt="">
				<a href="/private/siete">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/8.png" alt="">
				<a href="/private/ocho">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/9.png" alt="">
				<a href="/private/nueve">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/10.png" alt="">
				<a href="/private/diez">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/11.png" alt="">
				<a href="/private/once">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/12.png" alt="">
				<a href="/private/doce">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/13.png" alt="">
				<a href="/private/trece">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/14.png" alt="">
				<a href="/private/catrce">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/15.png" alt="">
				<a href="/private/quince">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/16.png" alt="">
				<a href="/private/dieciseis">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/17.png" alt="">
				<a href="/private/diecisiete">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/18.png" alt="">
				<a href="/private/dieciocho">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/19.png" alt="">
				<a href="/private/diecinueve">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/20.png" alt="">
				<a href="/private/veinte">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/21.png" alt="">
				<a href="/private/veintiuno">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/22.png" alt="">
				<a href="/private/veintidos">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/23.png" alt="">
				<a href="/private/veintitres">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/24.png" alt="">
				<a href="/private/veinticuatro">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/25.png" alt="">
				<a href="/private/veinticinco">Detail</a>
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/26.png" alt="">
				<a href="/private/veintiseis">Detail</a>
			</div>
		</div>
	</div>