	<div class="alldraws">
		<h1>all draws</h1>
		<div data-scroll class="imgs">
			<div class="imgDetail">	
				<img class="draws" src="/img/1.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/2.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/3.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/4.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/5.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/6.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/7.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/8.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/9.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/10.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/11.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/2.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/13.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/14.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/15.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/16.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/17.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/18.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/19.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/20.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/21.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/22.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/23.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/24.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/25.png" alt="">
			</div>
			<div class="imgDetail">	
				<img class="draws" src="/img/26.png" alt="">
			</div>
		</div>
	</div>