<div class="contact">
	<h1>Contact</h1>
	<form action="/private/contact" method="POST">
	<label for="title"></label>
	<br>
	<input type="text" name="title">
	<br>
	<label for="context"></label>
	<textarea name="context" cols="30" rows="10"></textarea>
	<button type="submit">Send!</button>
	</form>
</div>