/*global*/
* {
  font-family: 'Alatsi', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin:0;
}

body{
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

button{
  border:none;
  background-color: #333;
  color:white;
  border-radius: 10px;
  padding : 15px 15px;
  margin: 20px 0 0 0;
  width: 100%;
}

button:hover{
  opacity: 0.7;
}

label{
  display: block;
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
}

input{
  border: 1px solid #ddd;
  width: 100%;
  padding:10px 15px;
  border-radius: 10px;
}

textarea{
  border:none;
  border: 1px solid #ddd;
  width: 100%;
  padding:10px 15px;
  border-radius: 10px;
}

/*scroll*/
.invisible{
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visible{
  transition:  opacity 0.5s ease;
  opacity: 1.0;
}

/*layouot*/
.menu{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.menu ul{
  list-style: none;
}

.menu ul li{
  display: inline;
  margin-left: 10px;
  line-height: 40px;
}

.menu ul li a{
  font-size: 18px;
}

.menu img{
  width: 40px;
  height: 40px;
}

footer{
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 18px;
}

/*auth*/
.auth{
  width: 60%;
  margin:10px auto;
  text-align: center;
}

.auth h1{
  font-size: 32px;
}
/*title*/
.title-container{
  animation: gradetion ease 8s infinite;
  padding: 30px;
  height: 500px;
}

@keyframes gradetion {
  0% {background-color: rgb(255,255,255)}
  10% {background-color: rgb(230, 230, 230);}
  20% {background-color: rgb(150, 150, 150);}
  30% {background-color: rgb(100, 100, 100);}
  40% {background-color: rgb(70, 70, 70);}
  50% {background-color: rgb(51,51,51);}
  60% {background-color: rgb(70, 70, 70);}
  70% {background-color: rgb(100, 100, 100);}
  80% {background-color: rgb(150, 150, 150);}
  90% {background-color: rgb(200, 200, 200);}
  100% {background-color:rgb(255,255,255);}
}

.title-container h1{
  font-size: 42px;
  text-align: center;
  margin-top: 200px;
  color: white;
  animation: gradetionTitle ease 7s infinite;
}

@keyframes gradetionTitle {
  0% {color: rgb(51,51,51)}
  10% {color: rgb(70, 70, 70);}
  20% {color: rgb(100, 100, 100);}
  30% {color: rgb(150, 150, 150);}
  40% {color: rgb(200, 200, 200);}
  50% {color: rgb(255,255,255);}
  60% {color: rgb(200, 200, 200);}
  70% {color: rgb(150, 150, 150);}
  80% {color: rgb(100, 100, 100);}
  90% {color: rgb(70, 70, 70);}
  100% {color: rgb(51,51,51);}
}

@media (min-width:768px) {
  .title-container{
    height: 650px;
  }

  .title-container h1{
    font-size: 62px;
    margin-top: 230px;
  }
}

/*about*/
.about{
  width: 70%;
  margin:20px auto;
  padding: 40px;
}

.about img{
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.about h2{
  font-size: 36px;
  text-align: center;
  margin-bottom:20px;
  font-weight: 100;
}

.about p{
  font-size: 22px;
  font-weight: 100;
}

.about a{
  margin : 20px 20px 0 0;
  display: block;
  text-align: right;
  font-size: 18px;
}

.about a:hover{
  font-size: 22px;
  transform: scale(1.04);
  transition: 1s;
}

@media (min-width: 768px){
  .about a{
    margin-left : 200px;
  }
}

/*main page*/
.imgs{
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.imgDetail{
  margin: 30px auto;
  transition: 1s;
  height: 100%;
}

.imgDetail img{
  width: 300px;
  height: 300px;
}

.btns{
  display: flex;
  justify-content: space-between;
}

.hide{
  display: none;
}

.btns button{
  width: 20%;
  margin: 10px 10px;
}

.more{
  display: block;
  text-align: right;
  width: 80%;
  margin: 10px auto;
  font-size: 22px;
}

@media (min-width: 768px){
  .imgs{
    width: 80%;
    margin: 0 auto;
  }

  .btns button{
    display: none;
  }

  .hide{
    display: block;
  }
}

/*about-detail*/
.about-detail{
  background-color: #333;
  color: white;
  padding : 50px 0;
}

.about-detail img{
  display: block;
  width: 70%;
  height: 70%;
  margin: 30px auto;
}

.aboutDetail-text{
  width: 70%;
  margin:20px auto;
  line-height: 20px;
}

.aboutDetail-text h1{
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.about-detail a{
  display: block;
  color: white;
  text-align: right;
  margin-top:30px;
  border-bottom:1px solid white;
}

@media(min-width : 768px){
  .about-detail{
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }

  .about-detail img{
    width: 30%;
    margin : 0;
  }

  .aboutDetail-text{
    width: 60%;
    margin:20px 0 0 20px;
    letter-spacing: 3px;
  }

  .about-detail a{
    margin-top: 20px;
  }
} 

@media(min-width:1200px){
  .aboutDetail-text{
    width: 30%;
    margin-top: 40px;
  }

  .about-detail a{
    margin-top: 100px;
  }
}

/*alldraws*/
.alldraws{
  width: 80%;
  margin: 10px auto;
}

@media (min-width: 768px){
  .alldraws{
    width: 80%;
    margin: 10px auto;
  }

  .imgDetail{
    width: 32%;
  }

  .imgDetail img{
    width: 100%;
    height: 100%;
  }
}

/*contact*/
.contact{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20%;
}

/*private imgdetail*/
.imgdetail{
  background-color: #333;
  text-align: center;
  padding: 120px 0;
}

.imgdetail img{
  width: 80%;
  height: 80%;
}

.imgdetail-textcontainer a{
  color: white;
  font-size: 18px;
  display: block;
  width: 40%;
  margin: 40px auto 0 auto;
  border-bottom:1px solid white;
}

@media (min-width : 768px){
  .imgdetail img{
    width: 40%;
  }
}