	<div class="about-detail">
		<img src="/img/profileImg2.jpg" alt="">
		<div class="aboutDetail-text">
			<h1>About me</h1>
			<p>
				I grew up in Osaka, studied foreign languages, and specialized in Spanish. Fell in love with Mexico when I was an exchange student, and have been living in Mexico City for the last five years.
				<br>
				<br>
				Worked in the tourism field for five years, that's why I know a lot about Mexico's history and its great culture.
				<br>
				<br>
				Now I work as a Web Developer and spend most of my free time illustrating lonely people in the streets.</p>
				<a href="/">Back</a>
		</div>
	</div>